.category {
    margin-bottom: 40px;
}



.row-line {
    padding-bottom: 50px;
    border-bottom: 1px solid #cfcfcf;
}



.category .feature-post>a {
    width: 180px;
    float: left;
    margin-right: 20px;
}

.feature-post>a {
    display: block;
    height: 180px;
    border: solid 1px #e1e1e1;
    position: relative;
}

.feature-post img {
    margin: auto;
    width: 100%;
    height: 178px;
    object-fit: cover;
}

.feature-post h2 {
    font-size: 20px;
}

.feature-post p {
    font-size: 14px;
}

@media screen and(min-width: 992px) {
    .col-md-12 {
        width: 100%;
    }

    .category .feature-post>a {
        width: 200px!important;
    }
    
}
